@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GiazaStencil';
    src: url('/assets/fonts/giazaStencil.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-giaza {
    font-family: 'GiazaStencil', sans-serif;
}
